{
  "root": true,
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "@nuxtjs"
  ],
  "plugins": [],
  "rules": {
    "vue/no-v-html": 0,
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "@typescript-eslint/consistent-type-imports": "error",
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.vue"
      ],
      "rules": {
        "no-undef": "off"
      }
    },
    {
      "files": [
        "*.ts"
      ],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error"
      }
    }
  ]
}
